<!DOCTYPE html>
<html>
	<head>
		<title>About 15 Puzzle</title>
		<link href="css/about.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div class="title">15 Puzzle</div>
		<div class="author">
			Created by: Peter Lunneberg<br />
			<a href="mailto:plunn.dev+15puzzle@gmail.com">plunn.dev+15puzzle@gmail.com</a>
		</div>
		<div>
			15 Puzzle is a simple application meant to demonstrate Peter Lunneberg's software
			development style, techniques, and ability. It is also a fun way to pass the time.
		</div>
	</body>
</html>